:host {
    align-items: baseline !important;
}

.header {
    display: flex;
    height: 65px;
    width: 800px;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    box-shadow: 0 0 5px 7px white inset;
    color: white;
}

.headerTitle {
    font-size: 1.25rem;
    margin-right: 30px;
}

.headerDescription {
    font-size: 1rem;
    font-weight: 500;
}